.dialogs{
	padding: 10px 0px 0px 20px;
	display: grid;
	grid-template-columns: 2fr 5fr;
 }
 .messages{

 }
 .message{

 }
 .dialog a{
	color: black;
	text-decoration: none;
 }
 .dialog a:focus{
	color: deeppink;
	font-weight: 500;
 }