.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}
.formSummaryError{
    font-size: larger;
    font-weight: 600;
    padding: 5px;
    color: #ff00008a;
}